.header {
  background-color: rgb(196, 21, 21);
}

.content {
  background-image: url("https://cutewallpaper.org/21/black-abstract-wallpaper-hd/49+-Black-Abstract-Wallpaper-HD-on-WallpaperSafari.jpg");
  height: 94vh;
}

.sidebar {
  color: black;
  width: 200px;
}

.top-right {
  margin-left: 65%;
}
.grid-container {
  display: grid;

  padding: 10px;
}

.grid-item {
  color: rgb(245, 245, 247);
  text-align: center;
  padding: 20px;
  font-size: 15px;
}

.item1 {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.item2 {
  grid-column: 3 / span 35;
  grid-row: 1 / 4;
}

.outlets {
  overflow: scroll;
  height: 470px;
}

::-webkit-scrollbar {
  display: none;
}
